<!DOCTYPE html>
<html>
<body>
<section>
    <h2>Hello from Dialog A!</h2>

    <div class="row">
        <table class="table table-hover">
            <thead>
            <tr>
                <th>Author</th>
                <th>Title</th>
                <th>Year</th>
            </tr>
            </thead>
            <tbody>
            <tr data-ng-repeat="item in data.books" data-ng-click="selectRow($index)"
                data-ng-class="{'active': selectedIndex === $index}">
                <td data-ng-bind="item.author"></td>
                <td>{{item.title}}</td>
                <td>{{item.year}}</td>
            </tr>
            </tbody>
        </table>

    </div>
    <div class="row">
        <div class="btn btn-danger" data-ng-disabled="!isRowSelected()" data-ng-click="deleteBook()">Delete book</div>
        <div class="btn btn-warning" data-ng-disabled="!isRowSelected()" data-ng-click="editBook()">Edit book</div>
        <div class="btn btn-success" data-ng-click="addBook()">Add book</div>
    </div>
</section>
</body>
</html>